/* Base Styles
/* -------------------------------------*/
body { overflow-x: hidden; }

p { font-size: 20px; }

p.small { font-size: 16px; }

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

/* Navigation Bar Styles
/* -------------------------------------*/
.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.navbar a:focus {
    outline: 0;
}

.navbar .navbar-nav {
    letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
    outline: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #FFC837;
}
.navbar-nav > li > a {
    padding-top: 19.5px;
    padding-bottom: 19.5px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #FFC837;
	background-color: transparent;
}

.navbar-default {
    background-color: #fff;
    border-color: transparent;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}
.navbar-default .navbar-brand {
    color: #FFC837;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #FFC837;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #FFC837;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
	color: #FFF;
}

/* All Section Styles
/* -------------------------------------*/
section {
    padding: 100px 0;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

@media(max-width:767px) {
    section {
        padding: 75px 0;
    }
}

/* Introduction Styles
/* -------------------------------------*/
#introduction {
	text-align: center;
	color: #fff;
  background: #FF8008;
  background: -webkit-linear-gradient(to left, #FF8008, #FFC837);
  background: linear-gradient(to left, #FF8008, #FFC837);
}

#introduction .container {
    padding-top: 50px;
    padding-bottom: 50px;
}

#introduction img {
    display: block;
    margin: 0 auto 20px;
}

#introduction .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2em;
    font-weight: 700;
}

#introduction .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

@media(min-width:768px) {
    #introduction .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #introduction .intro-text .name {
        font-size: 4.75em;
    }

    #introduction .intro-text .skills {
        font-size: 1.75em;
    }
}

/* About & Contact Styles
/* -------------------------------------*/
#about, #contact {
    background: #ebebeb;
}

/* Portfolio Styles
/* -------------------------------------*/
#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

@media(min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

/* Contact Styles
/* -------------------------------------*/
.btn-social {
    color: #2c3e50;
	display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid #2c3e50;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}

.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* Footer Styles
/* -------------------------------------*/
footer {
    color: #fff;
	background-color: #2c3e50;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Back to Top
/* -------------------------------------*/
#toTop {
	background:#999;
	cursor:pointer;
	display:none;
	color: #fff;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	height: 32px;
	width: 32px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;

	opacity: 0.5;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
	    filter: alpha(opacity=50);
}

/* Other Styles
/* -------------------------------------*/
.wow {
   visibility: hidden;
 }

.logo-size{
  height: 200%;
}

.col-lg-12 img {
    max-width: 20%;
    height: auto;
}

/*DOT EVADE STYLES*/
.mt-100 {
    margin-top: 100px;
}
.mb-100 {
    margin-bottom: 100px;
}

.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 7px 8px;
    border: 2px solid;
    border-radius: 50%;
}
.header {
    padding-top: 10%;
    padding-bottom: 10%;
    background: #FF8008;
    background: -webkit-linear-gradient(to left, #FF8008, #FFC837);
    background: linear-gradient(to left, #FF8008, #FFC837);
    color: #fff;
}
.content {
    position: relative;
    display: table;
    width: 100%;
    min-height: 100vh;
}
.pull-middle {
    display: table-cell;
    vertical-align: middle;
}

.btn {
    padding-left: 25px;
    padding-right: 25px;
}
.btn-circle {
    border-radius: 20px;
}

.input-group input {
    border: 0;
    box-shadow: none;
    padding-right: 30px;
}
.input-group input:focus,
.input-group input:active {
    outline: 0;
    box-shadow: none;
}
.input-group-btn:last-child>.btn {
    z-index: 2;
    margin-left: -18px;
    border-radius: 20px;
}


.download-icon{
    max-width: 100%;
    height: auto;
}

.resize {
width: 50%;
}

.text-success {
    color: #FF8008;
}

.btn-info-orange {
    color: #FF8008;
    background-color: #fff;
    border-color: #FF8008;
}

.btn-info {
  margin: 30px 30px 30px 30px;
}

.video-header {
  font-size: 4em;
}

.video-image {
  height: 100%;
}

.video-row {
  height: 700px;
}


/*thumbnail styles*/

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail > h4 {
    padding: 7px 5px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.thumbnail h4 .info {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 0.6em;
    padding-left: 15px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    cursor:  pointer;
}

.thumbnail h4 .info > span {
    margin-right: 10px;
}

.thumbnail img {
    width: 100%;
}
.thumbnail a.btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.video-container {
  padding-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}


/*GETPHOTO PAGE*/
.splash {
  background: #FFB75E;
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03);
  background: linear-gradient(to left, #FFB75E , #ED8F03);
  color: #fff;
  overflow: hidden;
  padding-top: 10%;
  padding-bottom: 12em !important;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

/*BOUNCING ARROW START*/


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
	height: 100px;
	margin-top: 125px;
}

.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}

.unu {
  margin-top: 1px;
}

.unu, .doi, .trei {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}

.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}

.mouse {
height: 42px;
width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel {
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

/*BOUNCING ARROW END*/
.btn-primary {
    color: #fff;
    background-color: #FF8008;
    border-color: #FFC837;
}

/*SUPPORT START*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.support {
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

.inner-support {
	font-weight:300;
	font-size: 12px;
	line-height:30px;
	color:#777;
  background: #FFB75E;
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03);
  background: linear-gradient(to left, #FFB75E , #ED8F03);
}

.support-container {
  padding-top: 10%;
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
  background: #FFB75E;
  background: -webkit-linear-gradient(to left, #FFB75E , #ED8F03);
  background: linear-gradient(to left, #FFB75E , #ED8F03);
	color:#FFF;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/*SUPPORT END*/

/*ALL VIDEOS START*/
input[type="text"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #ffdb99;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #ffae19;
  box-shadow: 0 0 5px 1px #ffa500;
}

.search-bar {
  margin: 0 auto;
}

.filter-options {
  text-align: center;
  font-size: 1.5em;
  color: #333;
}
/*ALL VIDEOS END*/

/*VID PAGE START*/

.row.match-my-cols {
    overflow: hidden;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.FixedHeightContainer {
  float:right;
  height: 100%;
  min-height: 100%;
  width:100%;
}
.Content {
  height:600px;
  text-align: center;
  max-height: 100%;
  overflow:auto;
  border: 1px solid gray;
  /*outline-style: ridge;*/
}
/*VID PAGE END*/
