<!-- JUMBOTRON START  -->
<div class="jumbotron text-center splash">
    <h1>All Videos</h1>
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
</div>
<!-- JUMBOTRON END -->



<div class="video-container">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="video in videos">
            <div class="thumbnail">
                <img src="{{video.img}}" alt="...">
                <h4>
                     {{video.title}}
                </h4>
                <a ng-click="goToVideoPage($event,'{{video.title}}')" class="btn btn-primary col-xs-12" role="button">Watch</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
