<!-- JUMBOTRON START  -->
<div class="jumbotron text-center splash">
    <h1>All Videos</h1>
    <div class="mouse_scroll">
        <div class="mouse">
            <div class="wheel"></div>
        </div>
        <div>
            <span class="m_scroll_arrows unu"></span>
            <span class="m_scroll_arrows doi"></span>
            <span class="m_scroll_arrows trei"></span>
        </div>
    </div>
</div>
<!-- JUMBOTRON END -->
<div class="video-container" ng-if="ready">
  <div class="search-bar">
    <div class="input-list style-1 clearfix">
      <div><input type="text" placeholder="Type 'Unity3D' or 'vlog'" ng-model="searchBox"></div>
    </div>
  </div>
    <div class="row">
      <!-- VLOG -->
      <div class="row filter-options">
        <h2>Categories</h2>
                <label>Tutorials</label>
                <input  type="checkbox"/>&nbsp;
                <label>Tips</label>
                <input type="checkbox"/>&nbsp;
                <label>Vlog</label>
                <input type="checkbox"/>
                <hr />
      </div>
        <div class="col-sm-6 col-md-4" ng-repeat="video in videos | orderBy:'category' | filter:searchBox">
            <div class="thumbnail">
                <img src="{{video.imgUrl}}" alt="...">
                <h6 ng-model="$parent.video">
                     {{video.vidTitle}}
                </h6>
                <a ng-click="goToVideos($event, video.vidTitle)" class="btn btn-primary col-xs-12" role="button">Watch</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
