<!-- <div class="playlist-state">
  <div class="playlist-container" ng-if="ready">
    <div class="spotify-embed">
      <h2>{{video}}</h2>
      <br>
      <iframe ng-src="{{url}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
      <br>
      <a ui-sref="home">Back</a>
    </div>
  </div>
</div> -->
<div class="video" ng-if="ready">
  <div class="container">
      <div class="row" ng>
          <h3>{{title}}</h3>
          <p>
          <strong>{{category}}</strong>
          </p>
          <hr>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h4>{{header}}</h4>
              <p>
                {{description}}
              </p><img src="http://farm7.staticflickr.com/6043/6311448642_841c424a65.jpg" class="img-responsive center-block" alt="tv">
              <p>
                  <small>Image: <a href="http://www.flickr.com/photos/photography_and_design/6311448642/sizes/l/" target="_blank">Jonas' Design</a><br>
                  <a href="http://tinyurl.com/tbvalid8" target="_blank">HTML 5 Valid</a></small>
              </p>
          </div>
          <div class="col-md-8">
              <div class="vid">
                  <iframe width="560" height="315" ng-src="{{url}}" allowfullscreen=""></iframe>
              </div>
          </div>
      </div>
  </div>
</div>
